
<% provide(:title, @user.name) %>
<h1>Welcome to Inventory Management App</h1>
<div id="Welcome New User">
    
    <center>
        <img src = "assets/new.jpg">
         <%= @user.name %>, <%= @user.email %>
    </center>
    
   
    
</div>


<p><%= link_to "Inventory list", inventory_path %></p> 
<p><%= link_to "Add New Products to Inventory", inventory_add_path %></p>
<p><%= link_to "Order Form list" %></p>
<p><%= link_to "Add Customer Order" %></p>
