
<% provide(:title, @user.name) %>
<h1>Welcome to Inventory Management App</h1>
<div id="Welcome New User">
    <center>
        <img src = "assets/new.jpg">
         <%= @user.name %>, <%= @user.email %>
    </center>
</div>


<button type="submit" class="btn btn-success"><%= link_to "Inventory list", product_path %></button>
<button type="submit" class="btn btn-success"><%= link_to "Add New Products to Inventory", product_add_path %></button>
<button type="submit" class="btn btn-success"><%= link_to "Order Form list" %></button>
<button type="submit" class="btn btn-success"><%= link_to "Add Customer Order", order_new_path %></button>
