
<% provide(:title, @user.name) %>
<h1>Welcome to Inventory Management App</h1>
<div id="Welcome New User">
    <center>
        <img src = "assets/new.jpg">
         <%= @user.name %>, <%= @user.email %>
    </center>
</div>

<div id="navcontainer">
<ul id="navlist">
<li id="active"><button type="submit" class="btn btn-success"><%= link_to "Inventory list", product_path %></button></li>
<li><button type="submit" class="btn btn-success"><%= link_to "Add New Products to Inventory", product_add_path %></button></a></li>
<li><button type="submit" class="btn btn-success"><%= link_to "Order Form list",orders_path %></button></li>
<li><button type="submit" class="btn btn-success"><%= link_to "Add Customer Order", order_new_path %></button></li>

</ul>
</div>

<p><%= link_to 'Edit Profile', edit_user_path %></p>

<p><%= link_to 'All Users', users_path%></p>

   
    

