<div>
  <h1>Inventory</h1>
  <%= form_for @inventories do |f| %>
    <div class="form-group">
      <label>Product ID</label>
      <%= f.text_field :product_id, class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Product Name</label>
      <%= f.text_field :product_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Unit Price (RM)</label>
      <%= f.text_field :unit_price, class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Selling Price (RM)</label>
      <%= f.text_field :selling_price, class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Original Quantity</label>
      <%= f.text_field :original_quantity, class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Quantity Sold</label>
      <%= f.text_field :quantity_sold, class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Quantity Left</label>
      <%= f.text_field :quantity_left, class: "form-control" %>
    </div>
    
    <button type="submit" class="btn btn-success">Add</button>
  <% end %>
</div>