<% provide(:title, 'Product Edit') %>
<h1>Product Edit</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for (@product) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :price %>
      <%= f.text_field :price %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :quantity %>
      <%= f.text_field :quantity %>
      
      <%= f.label :shipping, class: "checkbox inline" do %>
      <span>This product requires shipping</span>
      <%= f.check_box :shipping %>
      <% end  %>

      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>

    </div>
  </div>