<div class="col-xs-4 well" id="product_new">
  <h1>Product Inventory</h1>
  
  <%= form_for @product do |f| %>
    <div class="form-group">
      <label>Name</label>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <label>Price</label>
      <%= f.text_field :price, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <label>Image Uploader</label>
    <%= f.file_field :product_image %>
    </div>
    
    <div class="form-group">
      <label>Description</label>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <label>Quantity</label>
      <%= f.text_field :quantity, class: "form-control" %>
    </div>
    
    <%= f.label :shipping, class: "checkbox inline" do %>
        <%= f.check_box :shipping %>
        <span>This product requires shipping.</span>
      <% end %>

      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
    
     <script type="text/javascript">
      $('#micropost_picture').bind('change', function() {
        size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
          alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
      });
    </script