<% provide(:title, @product.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="product_info">
            <h1>
                
                <%= image_tag @product.product_image %>
                <%= @product.name %>
                <%= @product.price %>
                <%= @product.description %>
                <%= @product.quantity %>
                <%= @product.shipping %>
            </h1>
        </section>
    </aside>
</div>